[Desktop Entry]
Encoding=UTF-8
Name=Wazzuf Ripper
Comment=Wazzuf Ripper DVD Blu-Ray rip GUI.
Icon=wazzuf-ripper.svg
Type=Application
Categories=AudioVideo;Video
Exec=/usr/bin/wazzuf-ripper GUI
Terminal=false
