[Desktop Entry]
Encoding=UTF-8
Name=Wazzuf Conf Generator
Comment=Generate a new Wazzuf Ripper configuration file.
Icon=/usr/share/wazzuf-ripper/icons/media-optical-video.png
Type=Application
Categories=AudioVideo;Video
Exec=/usr/bin/wazzuf-conf-generator
Terminal=false
