[Desktop Entry]
Encoding=UTF-8
Name=Wazzuf Conf Generator
Comment=Generate a new Wazzuf Ripper configuration file.
Icon=wazzuf-ripper
Type=Application
Categories=AudioVideo;Video
Exec=/usr/bin/wazzuf-conf-generator
Terminal=false
